* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
        font-weight: bold;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;

    }

    .navbar ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

.ramname{
    text-align: right;
    margin-top: 20%;
    margin-right: 10%;
    margin-bottom: 20%;
    font-family: "Roboto Mono", monospace;
}
.myinfo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}
h1.myinfo{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
body {
    background-color: rgb(255, 255, 255);
}
.navandinfo{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.6) 30%), 
    url(https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#myinfo{
    height: 50%;
    /* min-height: 350px; */
}
.icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;   /* ปรับขนาดวงกลม */
    height: 50px;
    border-radius: 50%; /* ทำให้เป็นวงกลม */
    border: 1px solid #ffffff; /* กรอบสีดำ */
    color: #333;
    font-size: 24px;
    margin: 10px;
    transition: 0.3s;
}
.bi-github{
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 24px;
}

.icon:hover{
    width: 60px;   /* ปรับขนาดวงกลม */
    height: 60px;
    transition: 0.2s;
    .bi-github{
        font-size: 32px;
        transition: 0.2s;
    };
}

.underline{
    width: 10%; 
    border: 1.5px solid rgb(199, 28, 28); 
    opacity: 1;
    color: black; 
    text-align: center;
    margin: auto;
}
.AboutMyself{
    font-size: 14px;
}
#Myimg{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}
.ImgAndInfo{
    height: 20%;
    min-height: 400px;
}
.myworkbtn{
    padding: 10px 52px;/*บอกขนาด: บนล่างpx ซ้ายขวาpx */
    margin: 20px 20px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; /* เอาไว้ให้เรียงเป็นแถวหลายอันและปรับขนาดได้*/
    font-size: 16px;
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: 2px solid #aa0404;
}
.myworkbtn:hover{
    /* padding: 18px 60px;
    margin: 5% 0%; */
    font-size: 18px;
    transition: 0.2s;
}

.end{
    background-color: #d8d8d8;
    height: 300px;

}